<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" />
        <title>Max Verstappen</title>
    </head>
    <body id="bodyAbout">
        <div class="navbar-div">
            <div class="home-btn">
                <button
                    class="button button2"
                    onclick="window.location.href='/home'"
                >
                    33
                </button>
            </div>
            <div class="otherPages">
                <ul>
                    <li><a href="/about"> ABOUT</a></li>
                    <li><a href="/works"> WORKS</a></li>
                    <li><a href="/gallery"> GALLERY</a></li>
                </ul>
            </div>
        </div>
        <div style="text-align: center">
            <h1>Max Verstappen</h1>
        </div>
        <div class="container-about">
            <div class="photo-div"></div>
            <div class="allInformation">
                <div class="bio">
                    <p>
                        Max Emilian Verstappen, the world-renowned race car
                        driver, was born on September 30, 1997. He is a
                        Belgian-Dutch racing driver and the ‘2021 Formula One
                        World Champion.’ Under the Dutch flag, Verstappen
                        competes in Formula One for Red Bull Racing. He is the
                        son of Jos Verstappen, a former Formula One driver. At
                        the 2015 Australian Grand Prix, he made Formula One
                        history by competing as the youngest driver ever at age
                        17. Verstappen has 23 victories and 14 pole positions as
                        of the 2022 Miami Grand Prix. Verstappen is one shining
                        light that deserves to be recognized.
                    </p>
                </div>
                <div class="info-div">
                    <div class="aboutTitles">
                        <h3>Date Birth:</h3>
                        <h3>Place of birth:</h3>
                        <h3>Age:</h3>
                        <h3>Nationality:</h3>
                        <h3>Career start:</h3>
                    </div>
                    <div class="aboutText">
                        <h3>30 September 1997</h3>
                        <h3>Hasselt, Belgium</h3>
                        <h3>25</h3>
                        <h3>Netherlands</h3>
                        <h3>2015</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
