<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" />
        <title>Max Verstappen</title>
    </head>
    <body id="bodyHome">
        <div class="navbar-div">
            <div class="home-btn">
                <button
                    class="button button2"
                    onclick="window.location.href='/home'"
                >
                    33
                </button>
            </div>
            <div class="otherPages">
                <ul>
                    <li><a href="/about"> ABOUT</a></li>
                    <li><a href="/works"> WORKS</a></li>
                    <li><a href="/gallery"> GALLERY</a></li>
                </ul>
            </div>
        </div>
        <div class="container-home">
            <div class="home-div">
                <div class="first-div">
                    <h1>
                        "You have to claim your place to be succesful. Not
                        everyone will love you for it"
                    </h1>
                </div>
                <div class="firstPhoto-div"></div>
            </div>
        </div>
    </body>
</html>
